/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Orbitron';
  color: #08c6e7;
}
@media (max-width: 800px) {
  html,
  body {
    background: center / cover no-repeat url('../img/sixr-bg-image.jpg');
    min-height: 100%;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Orbitron';
  color: #08c6e7;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -4rem;
}
header .company-logo {
  height: 10rem;
  width: 10rem;
}
header h1 {
  text-align: center;
  padding-top: 0.5rem;
  font-size: 5.2rem;
  color: #08c6e7;
  font-family: 'Orbitron';
  text-shadow: 0 0 2rem #08c6e7;
}
@media (max-width: 800px) {
  header h1 {
    font-size: 3.4rem;
  }
}
@media (max-width: 500px) {
  header h1 {
    font-size: 2.8rem;
  }
}
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}
@media (max-width: 800px) {
  .fullscreen-bg {
    display: none;
  }
}
.fullscreen-bg .fullscreen-bg_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg .fullscreen-bg_video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg .fullscreen-bg_video {
    width: 300%;
    left: -100%;
  }
}
.menu-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  display: none;
  position: absolute;
}
.menu-container .menu-overlay {
  width: 20%;
  height: 100%;
  padding: 4rem;
  border-left: 1px solid #08c6e7;
  background: #000;
  opacity: 0.9;
}
@media (max-width: 800px) {
  .menu-container .menu-overlay {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .menu-container .menu-overlay {
    width: 100%;
    border: none;
    align-items: center;
    opacity: 1;
  }
}
.menu-container .menu-overlay .menu-items {
  width: 100%;
  display: none;
  color: #ffffff;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.menu-container .menu-overlay .menu-items li {
  padding: 8rem 0;
}
.menu-container .menu-overlay .menu-items a {
  text-decoration: none;
  color: #08c6e7;
  font-weight: bold;
  margin: -5rem 0;
}
.menu-container .menu-overlay .menu-items a:hover {
  color: #ffffff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  padding-bottom: 5%;
  overflow: hidden;
}
main .logo {
  width: 50%;
  margin-bottom: -5rem;
  margin-top: 5px;
}
@media (max-width: 500px) {
  main .logo {
    width: 60%;
  }
}
main a {
  text-decoration: none;
  color: #fff;
}
main a:hover {
  color: #000;
}
main a .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35.25rem;
  padding: 2rem 2rem;
  font-size: 3.75rem;
  border: 4px solid #08c6e7;
  font-weight: bold;
  cursor: pointer;
  border-radius: 25px;
  font-family: 'Orbitron', sans-serif;
  transition: 0.2s;
}
main a .button:hover {
  background: #46e3ff;
  color: #000;
}
@media (max-width: 500px) {
  main a .button {
    font-size: 3rem;
    border-radius: 1.5rem;
    padding: 2rem 10rem;
  }
}
main .home-text {
  font-size: 3.5rem;
  text-align: center;
  line-height: 1.4;
}
@media (max-width: 500px) {
  main .home-text {
    font-size: 2.5rem;
    text-align: center;
  }
}
main .realblack {
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 0 0 1rem #08c6e7;
}
