/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Orbitron';
  color: #08c6e7;
}
@media (max-width: 800px) {
  html,
  body {
    background: center / cover no-repeat url('../img/sixr-bg-image.jpg');
    min-height: 100%;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Orbitron';
  color: #08c6e7;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}
@media (max-width: 800px) {
  .fullscreen-bg {
    display: none;
  }
}
.fullscreen-bg .fullscreen-bg_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg .fullscreen-bg_video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg .fullscreen-bg_video {
    width: 300%;
    left: -100%;
  }
}
.menu-overlay {
  width: 20%;
  height: 100%;
  left: 80%;
  position: absolute;
  padding: 4rem;
}
.menu-overlay button {
  position: absolute;
  left: 75%;
}
.menu-overlay .menu-items {
  color: #ffffff;
  font-size: 4rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.menu-overlay .menu-items li {
  padding: 12.5% 0;
}
.menu-overlay .menu-items a {
  text-decoration: none;
  color: #ffffff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  padding: 5%;
  overflow: hidden;
}
main .now {
  color: #08c6e7;
  font-size: 5rem;
}
@media (max-width: 500px) {
  main .now {
    font-size: 3rem;
  }
}
main .logo {
  width: 50%;
}
@media (max-width: 500px) {
  main .logo {
    width: 60%;
  }
}
main .button {
  border: 4px solid #08c6e7;
  border-radius: 2.5rem;
  padding: 3.1rem 13rem;
  font-size: 2.7rem;
  margin-bottom: 3%;
  text-align: center;
  color: white;
}
@media (max-width: 500px) {
  main .button {
    font-size: 3rem;
    border-radius: 1.5rem;
    padding: 2rem 10rem;
  }
}
main .home-text {
  margin-bottom: 1.5%;
  font-size: 3.5rem;
  text-align: center;
}
@media (max-width: 500px) {
  main .home-text {
    font-size: 2.5rem;
    text-align: center;
  }
}
main .realblack {
  font-size: 3.5rem;
  margin-top: 10rem;
  font-weight: bold;
}
.company-logo {
  height: 10rem;
  width: 10rem;
  position: absolute;
  left: 0;
  top: 0;
}
