header {
    display: flex;
    justify-content: space-between;
    align-items: center;


    .company-logo{
        height: 10rem;
        width: 10rem;
    }

    h1 {
        padding-top: 0.5rem;
        padding-right: 3rem;
    }
}
