.menu-container{
    
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    display: none;
    position: absolute;

    .menu-overlay {
    
    
        width: 20%;
        height: 100%;
        padding: 4rem;
        border-left: 1px solid @space-blue;
        border-bottom: 1px solid @space-blue;
        background: #000;
        opacity: 0.9;

        @media @tablet{
            width: 30%;
        }

        @media @phone{
            width: 100vw;
            border: none;
            opacity: 1;
        }
    
        .menu-items {
            width: 100%;
            display: none;
            color: @space-white;
            font-size: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
    
            li {
                padding: 8rem 0;
            }
    
            a {
                text-decoration: none;
                color: @space-blue;
                font-weight: bold;
                margin: -5rem 0;
            }
    
            a:hover {
                color: @space-white;
            }
    
        }
    }
}

