main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-around;
    margin: 4.2% auto;

    @media @phone {
        flex-direction: column;
        align-items: center;
     }

    .team-member{ 
        flex-basis: 30%;
        flex-grow: 1;
        text-align: center;
        margin-bottom: 1%;

        @media @tablet {
            flex-basis: 45%;
         }

         h2 {
             font-weight: medium;
         }

        .profile-pic {
            margin: 2% auto 0 auto;
            height: 26rem;
            width: 26rem;
            .border(6.5px);
            border-radius: 60px;
        }

        .buddy {
            .background(url('../../img/buddy.jpg'));
        }

        .taylor {
            .background(url('../../img/taylor.png'));
        }

        .jake {
            background: center / cover no-repeat url('../../img/jake4.png');
            background-position-y:40%;
            background-size: 117%;
        }

        .chris {
            .background(url('../../img/chris.jpg'));
        }

        .damico {
            .background(url('../../img/damico.jpg'));
        }

        .landon {
            .background(url('../../img/landon.png'));
        }

        .about-wrap {
            .team-title {
                padding: 3.5% 10%;
                color: #2BD9F7;
                font-weight: bold;
            }
            .team-about {
                padding: 0 10% 2.2%;
                color: @space-white;
                font-size: 1.7rem;
            }
            .social-wrap{
                margin-bottom: 10%;
                font-size: 2.5rem;
                a {
                    padding: 0 5%;
                    text-decoration: none;
                    color: @space-white;
                }

                a:hover {
                    color: @space-blue;
                }
            }
        }
    }
}