/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Orbitron';
  color: #08c6e7;
}
@media (max-width: 800px) {
  html,
  body {
    background: center / cover no-repeat url('../../img/sixr-bg-image.jpg');
    min-height: 100%;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Orbitron';
  color: #ffffff;
}
h1 {
  font-size: 5.2rem;
  color: #08c6e7;
  font-family: 'Audiowide';
}
h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
footer {
  font-family: 'Audiowide';
  color: #08c6e7;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .company-logo {
  height: 10rem;
  width: 10rem;
}
header h1 {
  text-align: center;
  padding-top: 0.5rem;
  padding-left: 3.25rem;
}
.menu-overlay {
  width: 0%;
  left: 80%;
  height: 100%;
  position: fixed;
  padding: 4rem;
}
.menu-overlay button {
  position: absolute;
  left: 75%;
}
.menu-overlay .menu-items {
  color: #ffffff;
  font-size: 4rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.menu-overlay .menu-items a {
  text-decoration: none;
  color: #057285;
}
.menu-overlay .menu-items a:hover {
  color: #ffffff;
}
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}
@media (max-width: 800px) {
  .fullscreen-bg {
    display: none;
  }
}
.fullscreen-bg .fullscreen-bg_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg .fullscreen-bg_video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg .fullscreen-bg_video {
    width: 300%;
    left: -100%;
  }
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-around;
  margin: 4.2% auto;
}
@media (max-width: 500px) {
  main {
    flex-direction: column;
    align-items: center;
  }
}
main .team-member {
  flex-basis: 30%;
  flex-grow: 1;
  text-align: center;
  margin-bottom: 1%;
}
@media (max-width: 800px) {
  main .team-member {
    flex-basis: 45%;
  }
}
main .team-member h2 {
  font-weight: medium;
}
main .team-member .profile-pic {
  margin: 2% auto 0 auto;
  height: 26rem;
  width: 26rem;
  border: 6.5px solid #057285;
  border-radius: 60px;
}
main .team-member .buddy {
  background: center / cover no-repeat url('../../img/buddy.jpg');
}
main .team-member .taylor {
  background: center / cover no-repeat url('../../img/taylor.png');
}
main .team-member .jake {
  background: center / cover no-repeat url('../../img/jake4.png');
  background-position-y: 40%;
  background-size: 117%;
}
main .team-member .chris {
  background: center / cover no-repeat url('../../img/chris.jpg');
}
main .team-member .damico {
  background: center / cover no-repeat url('../../img/damico.jpg');
}
main .team-member .landon {
  background: center / cover no-repeat url('../../img/landon.png');
}
main .team-member .about-wrap .team-title {
  padding: 3.5% 10%;
  color: #2BD9F7;
  font-weight: bold;
}
main .team-member .about-wrap .team-about {
  padding: 0 10% 2.2%;
  color: #ffffff;
  font-size: 1.7rem;
}
main .team-member .about-wrap .social-wrap {
  margin-bottom: 10%;
  font-size: 2.5rem;
}
main .team-member .about-wrap .social-wrap a {
  padding: 0 5%;
  text-decoration: none;
  color: #ffffff;
}
main .team-member .about-wrap .social-wrap a:hover {
  color: #08c6e7;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
}
footer img {
  width: 32.3rem;
  height: 25rem;
}
@media (max-width: 500px) {
  footer img {
    display: none;
  }
}
footer .footer-social {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 500px) {
  footer .footer-social {
    padding: 1.5rem 0;
  }
}
footer .footer-social p {
  width: 60%;
  text-align: center;
  padding: 1rem 1rem;
}
@media (max-width: 500px) {
  footer .footer-social p {
    width: 100%;
  }
}
@media (max-width: 800px) {
  footer .footer-social p {
    width: 100%;
  }
}
footer .footer-social .sml {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}
footer .footer-social .sml a {
  padding: 0rem 1.5rem;
  color: #ffffff;
}
footer .footer-social .sml a:hover {
  color: #08c6e7;
}
