.menu-overlay {

    .border();
    width: 20%;
    margin-top: 0;
    left: 0;
    position: absolute;

    .menu-items {
        color: @space-white;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        li {
            padding: 12.5% 0;
        }

        a {
            text-decoration: none;
            color: @space-white;
        }

    }
}