main {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    padding: 5%;
    overflow: hidden;

    .now {
        color:@space-blue;
        font-size: 5.0rem;
        margin-top: 1.5%;
        @media @phone {
            font-size:3.0rem;
        }
    }

    .logo {
        width: 50%;
        @media @phone {
            width:60%;
        }
    }

    .button {
        .border();
        border-radius:2.5rem;
        padding: 2.0rem 13.0rem;
        font-size: 4rem;
        margin-bottom: 3%;
        text-align: center;
        @media @phone {
            font-size:3rem;
            border-radius:1.5rem;
            padding:2.0rem 10.0rem;
        }
    }
    
    .home-text {
        margin-bottom: 1.5%;
        font-size:3.5rem;
        text-align: center;
        @media @phone {
            font-size:2.5rem;
            text-align:center;
        }
    }
}