.menu-overlay {
    
    
    width: 20%;
    height: 100%;
    margin-top: 4rem;
    left: 80%;
    position: absolute;
    background: black;
    opacity: 0.5%;

    button {
        position: absolute;
        left: 75%;
    }

    .menu-items {
        display: none;
        color: @space-white;
        font-size: 2rem;
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        li {
            padding: 12.5% 0;
        }

        a {
            text-decoration: none;
            color: @space-white;
        }

    }
}