/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Orbitron';
  color: #08c6e7;
}
@media (max-width: 800px) {
  html,
  body {
    background: center / cover no-repeat url('../../img/sixr-bg-image.jpg');
    min-height: 100%;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Orbitron';
  color: #ffffff;
}
h1 {
  font-size: 5.2rem;
  color: #08c6e7;
  font-family: 'Audiowide';
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
footer {
  font-family: 'Audiowide';
  color: #08c6e7;
}
.menu-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  display: none;
  position: absolute;
}
.menu-container .menu-overlay {
  width: 20%;
  height: 100%;
  padding: 4rem;
  border-left: 1px solid #08c6e7;
  border-bottom: 1px solid #08c6e7;
  background: #000;
  opacity: 0.9;
}
@media (max-width: 800px) {
  .menu-container .menu-overlay {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .menu-container .menu-overlay {
    width: 100%;
    border: none;
    align-items: center;
    opacity: 1;
  }
}
.menu-container .menu-overlay .menu-items {
  width: 100%;
  display: none;
  color: #ffffff;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.menu-container .menu-overlay .menu-items li {
  padding: 8rem 0;
}
.menu-container .menu-overlay .menu-items a {
  text-decoration: none;
  color: #08c6e7;
  font-weight: bold;
  margin: -5rem 0;
}
.menu-container .menu-overlay .menu-items a:hover {
  color: #ffffff;
}
header {
  display: flex;
  justify-content: space-between;
}
header .company-logo {
  height: 10rem;
  width: 10rem;
}
header h1 {
  padding-top: 3rem;
  text-align: center;
}
@media (max-width: 800px) {
  header h1 {
    font-size: 4.2rem;
  }
}
@media (max-width: 500px) {
  header h1 {
    font-size: 4rem;
  }
}
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}
@media (max-width: 800px) {
  .fullscreen-bg {
    display: none;
  }
}
.fullscreen-bg .fullscreen-bg_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg .fullscreen-bg_video {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg .fullscreen-bg_video {
    width: 300%;
    left: -100%;
  }
}
main {
  margin-top: 6%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 22rem;
}
@media (max-width: 800px) {
  main {
    padding: 0rem 10rem;
  }
}
@media (max-width: 500px) {
  main {
    padding: 0rem 2rem;
  }
}
main p {
  line-height: 4.8rem;
  text-align: center;
  font-size: 3.6rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}
main p .white-text {
  color: #ffffff;
  font-weight: bold;
}
main p .bold {
  font-weight: bold;
  color: #ffffff;
}
.img-wrap {
  text-align: center;
  background: #000;
}
.img-wrap .vr-img {
  width: 70%;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
}
footer img {
  width: 32.3rem;
  height: 25rem;
}
@media (max-width: 500px) {
  footer img {
    display: none;
  }
}
footer .footer-social {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 500px) {
  footer .footer-social {
    padding: 1.5rem 0;
  }
}
footer .footer-social p {
  width: 60%;
  text-align: center;
  padding: 1rem 1rem;
}
@media (max-width: 500px) {
  footer .footer-social p {
    width: 100%;
  }
}
@media (max-width: 800px) {
  footer .footer-social p {
    width: 100%;
  }
}
footer .footer-social .sml {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}
footer .footer-social .sml a {
  padding: 0rem 1.5rem;
  color: #ffffff;
}
footer .footer-social .sml a:hover {
  color: #08c6e7;
}
